/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.App {
  max-width: 900px;
  margin: 80px auto;
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
  }
}

@mixin font-title {
  text-transform: uppercase;
  font-weight: bold;
}


.Pokemons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-pokemon {
    position: relative;
    padding: 30px;
    width: 20%;
    border: 1px solid rgb(228, 228, 228);
    animation-name: moveUp;
    animation-duration: 1s;
    margin : {
      right: 10px;
      bottom: 10px;
    }
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.5s;
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 14px 28px rgba(224, 224, 224, 0.863), 0 10px 10px;
      cursor: pointer;
    }
    img{
      min-width: 100%;
    }
    h3{
      @include font-title;
    }
  }
}

.Pokemon{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  animation-name: moveUp;
  animation-duration: 1s;
  h2{
    font-size: 60px;
    text-align: center;
    min-width: 100%;
    @include font-title;
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }
  img{
    min-width: 50%;
  }
  &-properties{
    padding: 20px;
    h4 {
      font-size: 40px;
      margin-bottom: 20px;
    }
    ul {
      li {
        font-size: 20px;
        color: gray;
        margin: {
          bottom: 10px;
        };
      }
    }
  }
}


@keyframes moveUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}




